*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 75%;
  margin: 0px auto;
  max-width: 1200px;
  display: flex;
}

header {
  background-color: #add8e6;
  height: 50px;
}

header .container {
  background-color: #daa520;
  justify-content: space-between;
}

header .logo {
  text-align: left;
}

header .nav {
  text-align: center;
}

header #login {
  text-align: right;
}

/* altezza da togliere */

.hero-section {
  background-color: #00008b;
  height: 250px;
}

.hero-section .container{
  justify-content: center;
}

.hero-item {
  background-color: #ee82ee;
  width: 40%;
  height: 200px;
  margin: 20px;
}

